
.tv .placeholder {
  border-right: 10px solid #333;
  transition: border-right-width 0.2s;
  width: 100%;
}

.tv:hover .placeholder {
  border-right-width: 0px;
}

.tv .options {
  opacity: 0;
  transition: opacity ease-in 0.2s;
}

.tv:hover .options {
  opacity: 1;
}

.power-button:hover,
.tv-button:hover {
  color: rgb(102, 45, 143);
}

.power-button:active,
.tv-button:active {
  background: rgb(102, 45, 143);
  color: inherit;
}

.power-button {
  color: red;
}
